/* Estilos para el contenedor del formulario de inicio de sesión y el bloque de lista */
.login-container {
    display: flex;
    align-items: flex-start;
}

.login-block {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-right: 20px;
}

.login-form {
    flex: 2;
}
