// Theme Boosted
// default preset.
// 2022-2023 koditik.com

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #8f959e !default;
$gray-600: #6a737b !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1d2125 !default;

$black:   #000 !default;
$white:   #fff !default;

$blue:    #0f6cbf !default;
$indigo:  #6610f2 !default;
$purple:  #8a29c6 !default;
$pink:    #e248d3 !default;
$red:     #d12e2e !default;
$orange:  #ffc941 !default;
$yellow:  #ffc300 !default;
$green:   #6ba93d !default;
$teal:    #20c997 !default;
$cyan:    #96e8fa !default;

$primary:   $blue !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $orange !default;
$danger:    $red !default;
$secondary: $gray-600 !default;

$info-outline:    $cyan !default;
$warning-outline: $orange !default;

// Tables
$table-accent-bg: rgba($black, .03) !default;

// Options
$enable-responsive-font-sizes: true !default;

// Body
$body-color: $gray-900 !default;
$bgcolor:    $white !default;

// Fonts
$font-size-base: 1rem !default;
$rfs-base-font-size: 0.9rem !default;
$headings-font-weight: 700 !default;

// Navbar
$navbar-dark-hover-color:  rgba($white, 1) !default;
$navbar-light-color:       rgba($black, 0.6) !default;
$navbar-light-hover-color: rgba($black, .9) !default;

$headerbgcolor:   $primary !default;
$headertextcolor: $white !default;
$footerbgcolor:   $gray-700 !default;
$footertextcolor: $white !default;


// Breadcrumbs
$breadcrumb-padding-y:     .5rem !default;
$breadcrumb-padding-x:     0 !default;
$breadcrumb-item-padding:  .5rem !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg:            transparent !default;
$breadcrumb-divider:       "/" !default;
$breadcrumb-divider-rtl:   "/" !default;

// Alerts
$alert-border-width: 0 !default;
$card-group-margin:  .25rem;

// Toasts
$toast-color:                   $white !default;
$toast-background-color:        rgba($gray-900, .95) !default;
$toast-header-color:            $gray-100 !default;
$toast-header-background-color: rgba($white, .1) !default;

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-btn-focus-color: rgba($primary, .75) !default;
$input-border-color: $gray-500 !default;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

$popover-max-width: 300px !default;

$border-radius-xs: .25rem !default;
$border-radius:    .5rem !default;
$border-radius-lg: .6rem !default;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
), $theme-colors);
// stylelint-enable

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
) !default;

// Settings.
$contentwidth:  80% !default;

$fontmain:      'Lexend Deca' !default;
$fontsize:      1rem !default;
$fontmaincolor: #333 !default;

$fontheader:       'Archivo' !default;
$fontheaderweight: 700 !default;
$fontheadercolor:  #333 !default;

$pagebgcolor:      $body-color !default;
$headertextcolor:  #333 !default;
$footerbgcolor:    $gray-900 !default;
$footertextcolor:  $white !default;

$selectiontext:   $black !default;
$selectionbg:     $yellow !default;
$focusborder:     $red !default;

// Import FontAwesome.
@import "../../boost/scss/fontawesome";

// Import All of Bootstrap
@import "../../boost/scss/bootstrap";

// Import Core moodle CSS
@import "../../boost/scss/moodle";
